body {
    background-color: blueviolet;
}
#flex-container{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    margin-top: -50px;
    width: 300px;
    border: solid red 2px;
    text-align: center;
    font-size: 20px;
}

#texto-form {
    display: flex;
    width: 400px;
    margin-top: -30px;
    flex-direction: column;
    align-items: center;
    margin: 50px;    
}

#buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 200px;  
    height: 200px;
    border-radius: 50%; 
    background-color: black;
    color: white;
    font-size: 20px;    
}

#buttom:hover{
   background-color: red;

}

#centroBola {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: black;
    background-color: white;
    border-radius: 50%;
}

#resposta {
    color: black;
    font-weight: bolder;
    font-size: 20px
}